<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soul Tech</title>
    <link rel="stylesheet" href="../assets/styles/styles.css">
    <link rel="stylesheet" href="../assets/styles/modal.css">
</head>
<body>
    <header>
        <img src="../assets/img/soultech_all.png" alt="Logotipo da SoulTech">
        
        <nav>
            <a href="home.html">Home</a>
            <a href="publicacoes/noticias.html">Notícias</a>
            <a href="publicacoes/tutoriais.html">Tutoriais</a>
            <a href="publicacoes/artigos.html">Artigos</a>
            <a href="quem-somos.html">Quem Somos?</a>
        </nav>
    
        <a href="login.html">Cadastro / Login</a>
    </div>
    </header>

    <main>
        <div id="nova-publicacao">
            <h1>Nova Publicação</h1>
            <form action="#" method="post" id="formPublicacao">
                <label for="titulo">Titulo</label>
                <input type="text"  placeholder="digite aqui o titulo"  id="titulo" name="titulo" required /><br>

                <label for="imagem">Imagem</label>
                <input type="file" id="imagem" name="imagem" accept="image/*" required ><br>

                <label for="tipo-publicacao">Tipo da publicação</label>
                <select name="tipo-publicacao" required ="tipo-publicacao">
                    <option value="">Selecione um tipo</option>
                    <option value="noticia">Notícia</option>
                    <option value="tutorial">Tutorial</option>
                    <option value="artigo">Artigo</option>
                </select><br>
                <label for="descricao">Descrição</label><br>
                <textarea  placeholder="digite uma descrição da publicação"  rows="3" id="descricao" name="descricao" required ></textarea><br>
                <label for="publicacao">Publicação</label><br>
                <textarea  placeholder="digite o texto da publicação"  rows="3" id="publicacao" name="publicacao" required ></textarea><br>
                <input type="submit" value="enviar">

            </form>
        </div>
    </main>

    <footer>
        <p>Talento Cloud- Grupo 5</p>
    </footer>

       <!-- Modal -->
       <div id="modal" class="modal">
        <div class="modal-content">
            <p id="modal-message"></p>
            <button id="okBtn">OK</button>
        </div>
    </div>

    <script src="../assets/scripts/criar-publicacao.js"></script>
</body>
</html>