<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soul Tech</title>
</head>
<body>
    <header>
        <div id="logo">
            <h1>SOUL TECH</h1>
        </div>
        
        <nav>
            <div id="navegacao">
                <a href="home.html">Home</a>
                <a href="publicacoes/noticias.html">Notícias</a>
                <a href="publicacoes/tutoriais.html">Tutoriais</a>
                <a href="publicacoes/artigos.html">Artigos</a>
            </div>
        </nav>
    
        <div id="usuario">
            <a href="login.html">Cadastro / Login</a>
        </div>
    </header>
    <main>
        <div>
            <h1>Nova Publicação</h1>
        <form action="#" method="post">
            <label for="titulo">titulo</label>
            <input type="text"  placeholder="digite aqui o titulo"  id="titulo" name="titulo" required /><br>

            <label for="imagem">imagem</label>
            <input type="file" id="imagem" name="imagem" accept="image/*" required ><br>

            <label for="tipo-publicacao">tipo da publicação</label>
            <select name="tipo-publicacao" required ="tipo-publicacao">
                <option value="">selecione um tipo</option>
                <option value="noticia">notícia</option>
                <option value="tutorial">tutorial</option>
                <option value="artigo">artigo</option>
            </select><br>
            <label for="descricao">descrição</label><br>
            <textarea  placeholder="digite uma descrição da publicação"  rows="3" id="descricao" name="descricao" required ></textarea><br>
            <label for="publicacao">publicação</label><br>
            <textarea  placeholder="digite o texto da publicação"  rows="3" id="publicacao" name="publicacao" required ></textarea><br>
            <input type="submit" value="enviar">

        </form>
        </div>
    </main>

    <footer>
        <p>Talento Cloud- Grupo 5</p>
    </footer>
</body>
</html>