<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Soul Tech</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <header>
    <img src="../../assets/img/soultech_all.png" alt="Logotipo da SoulTech">
    <nav>
        <a href="home.html">Home</a>
        <a href="publicacoes/noticias.html">Notícias</a>
        <a href="publicacoes/tutoriais.html">Tutoriais</a>
        <a href="publicacoes/artigos.html">Artigos</a>
        <a href="criar-publicacao.html">Escreva</a>
        <a href="quem-somos.html">Quem Somos?</a>
    </nav>
    <a href="login.html">Cadastro / Login</a>
</div>
</header>
  <main>
    <div class="conteudo">
      <section class="noticias">
       <div class="header-section">
        <h2>Notícias</h2>
        <h5><a href="publicacoes/noticias.html">Veja Mais</a></h5>
       </div>
       <div class="body-section">
        <div>
          <a href="publicacoes/publicacao-aberta.html">
          <img src="../assets/img/publicacao/IA.jpg" alt="IA">
          <div class="descricao">
            <p>A inteligência artificial (IA) é uma área da computação que se concentra na criação de agentes inteligentes, que são sistemas que podem raciocinar, aprender e agir de forma independente.</p>
          </div>
          </a>
        </div>
        <div>
          <a href="publicacoes/publicacao-aberta.html">
          <img src="../assets/img/publicacao/IA.jpg" alt="IA">
          <div class="descricao">
            <p>A inteligência artificial (IA) é uma área da computação que se concentra na criação de agentes inteligentes, que são sistemas que podem raciocinar, aprender e agir de forma independente.</p>
          </div>
          </a>
        </div> 
        <div>
          <a href="publicacoes/publicacao-aberta.html">
          <img src="../assets/img/publicacao/IA.jpg" alt="IA">
          <div class="descricao">
            <p>A inteligência artificial (IA) é uma área da computação que se concentra na criação de agentes inteligentes, que são sistemas que podem raciocinar, aprender e agir de forma independente.</p>
          </div>
          </a>
        </div>
       </div>
      </section>
      <section class="tutoriais">
        <div class="header-section">
          <h2>Tutoriais</h2>
          <h5><a href="publicacoes/tutoriais.html">Veja Mais</a></h5>
         </div>
         <div class="body-section">
          <div>
            <a href="publicacoes/publicacao-aberta.html">
            <img src="../assets/img/publicacao/IA.jpg" alt="IA">
            <div class="descricao">
              <p>A inteligência artificial (IA) é uma área da computação que se concentra na criação de agentes inteligentes, que são sistemas que podem raciocinar, aprender e agir de forma independente.</p>
            </div>
            </a>
          </div>
          <div>
            <a href="publicacoes/publicacao-aberta.html">
            <img src="../assets/img/publicacao/IA.jpg" alt="IA">
            <div class="descricao">
              <p>A inteligência artificial (IA) é uma área da computação que se concentra na criação de agentes inteligentes, que são sistemas que podem raciocinar, aprender e agir de forma independente.</p>
            </div>
            </a>
          </div> 
          <div>
            <a href="publicacoes/publicacao-aberta.html">
            <img src="../assets/img/publicacao/IA.jpg" alt="IA">
            <div class="descricao">
              <p>A inteligência artificial (IA) é uma área da computação que se concentra na criação de agentes inteligentes, que são sistemas que podem raciocinar, aprender e agir de forma independente.</p>
            </div>
            </a>
          </div>
         </div>
      </section>
      <section class="artigos">
        <div class="header-section">
          <h2>Artigos</h2>
          <h5><a href="publicacoes/artigos.html">Veja Mais</a></h5>
         </div>
         <div class="body-section">
          <div>
            <a href="publicacoes/publicacao-aberta.html">
            <img src="../assets/img/publicacao/IA.jpg" alt="IA">
            <div class="descricao">
              <p>A inteligência artificial (IA) é uma área da computação que se concentra na criação de agentes inteligentes, que são sistemas que podem raciocinar, aprender e agir de forma independente.</p>
            </div>
            </a>
          </div>
          <div>
            <a href="publicacoes/publicacao-aberta.html">
            <img src="../assets/img/publicacao/IA.jpg" alt="IA">
            <div class="descricao">
              <p>A inteligência artificial (IA) é uma área da computação que se concentra na criação de agentes inteligentes, que são sistemas que podem raciocinar, aprender e agir de forma independente.</p>
            </div>
            </a>
          </div> 
          <div>
            <a href="publicacoes/publicacao-aberta.html">
            <img src="../assets/img/publicacao/IA.jpg" alt="IA">
            <div class="descricao">
              <p>A inteligência artificial (IA) é uma área da computação que se concentra na criação de agentes inteligentes, que são sistemas que podem raciocinar, aprender e agir de forma independente.</p>
            </div>
            </a>
          </div>
         </div>
      </section>
    </div>
  </main>
  <footer>
    <p>Talento Cloud- Grupo 5</p>
  </footer>
</body>
</html>
