<!DOCTYPE html>
<html>
	<head>
		<title>Login / Cadastro</title>
		<link rel="stylesheet" href="../assets/styles/styles.css">
		<link rel="stylesheet" href="../assets/styles/modal.css">
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script src="../assets/scripts/login.js" defer></script>
		<script src="../assets/scripts/menu.js" defer></script>
	</head>
	<body>
		<header>
		
			<img src="../assets/img/soultech_all.png" alt="Logotipo da SoulTech">
			
			<nav>
				<a href="../index.html">Home</a>
				<a href="publicacoes/noticias.html">Notícias</a>
				<a href="publicacoes/tutoriais.html">Tutoriais</a>
				<a href="publicacoes/artigos.html">Artigos</a>
				<a href="criar-publicacao.html" id="linkEscreva">Escreva</a>
				<a href="quem-somos.html">Quem Somos?</a>
			</nav>
		
			<a href="login.html" id="cadastroLoginLink">Cadastro / Login</a>
		</header>
		<main>
			<div class="container" id="">
				<div>
					<p>Faça <a href="javascript:void(0);" onclick="showSignIn()">login</a> ou <a href="javascript:void(0)" onclick="ShowSignUp()">inscreva-se</a></p>
				</div>
				<div id="login" style="display: none">
					<h2>Login</h2>
					<form action="#" method="post" id="formLogin">
						<div class="form-group">
							<label for="loginEmail">E-mail</label>
							<input type="email" class="form-control" id="loginEmail" placeholder="Seu e-mail" />
						</div>
						<div class="form-group">
							<label for="loginPassword">Senha</label>
							<input type="password" class="form-control" id="loginPassword" placeholder="Sua senha" />
						</div>
						<input type="submit" value="Login" onclick="login()" />
					</form>
				</div>
				<div id="cadastro" style="display: none">
					<h2>Cadastro</h2>
					<form action="#" method="post" id="formCadastro">
						<div class="form-group">
							<label for="nomeCompleto">Nome Completo</label>
							<input type="text" class="form-control" id="nomeCompleto" placeholder="Seu nome completo" />
						</div>
						<div class="form-group">
							<label for="cadastroEmail">E-mail</label>
							<input type="email" class="form-control" id="cadastroEmail" placeholder="Seu e-mail" />
						</div>
						<div class="form-group">
							<label for="cadastroPassword">Senha</label>
							<input type="password" class="form-control" id="cadastroPassword" placeholder="Sua senha" />
						</div>
						<div class="form-group">
							<label for="confirmacaoSenha">Confirmar Senha</label>
							<input type="password" class="form-control" id="confirmacaoSenha" placeholder="Confirme sua senha" />
						</div>
						<input type="submit" value="Cadastrar" onclick="signup()" />
					</form>
				</div>
			</div>
		</main>

		<footer>
			<p>Talento Cloud- Grupo 5</p>
		</footer>
		<div id="modal" class="modal">
			<div class="modal-content">
				<p id="modal-message"></p>
				<button id="okBtn">OK</button>
			</div>
		</div>
	</body>
	<!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script> -->
</html>
