<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        
        <img src="../assets/img/soultech_all.png" alt="Logotipo da SoulTech">
        
        <nav>
            <ul>
                <li><a href="index.html">Página Inicial</a></li>
                <li><a href="quem somos.html"> Quem Somos</a></li>
                <li><a href="news.html"> News</a></li>
                <li><a href="contato.html">Contato</a></li>
            </ul>
            <h1>Quem Somos?</h1>
            
        </nav>
    </header>

    <section>
        <h2><b>Nossa Equipe</b></h2>
        <p>Somos uma equipe apaixonada por tecnologia, como o próprio nome já diz, comprometidos em trazer as últimas notícias e informações sobre 
        o mundo da tecnologia para você, como também muito conhecimento colaborativo. Nossa equipe é composta por profissionais do mercado e entusiastas de tecnologia que buscam fornecer
        conteúdo de alta qualidade e relevância. 
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur sequi blanditiis consectetur accusamus delectus hic aspernatur
        explicabo, modi a doloremque repellat dignissimos illum distinctio fugiat neque nisi recusandae! Reiciendis, deserunt!</p>
    </section>

    <section>
        <h2><b>Nossa Missão</b></h2>
        <p>Nossa missão é informar e educar nossos leitores sobre as tendências e avanços mais recentes em tecnologia.
        Queremos ajudar você a tomar decisões informadas sobre produtos, serviços e tendências tecnológicas.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam facere laboriosam perferendis! Animi non expedita ipsam necessitatibus.
    Illo sunt, mollitia itaque, amet dignissimos architecto nisi unde molestiae ut, eius aliquid.</p>
    </section>

    <section>
        <h2>Entre em Contato</h2>
        <p>Se você tiver alguma pergunta, sugestão ou feedback, entre em contato conosco.
        Estamos sempre abertos a ouvir nossos leitores. Você pode nos alcançar através do formulário de contato em nossa página de <a href="contato.html">Contato</a>.</p>
    </section>
&nbsp;



    <footer>
        <p>&copy; 2023 SoulTech, sua fonte de notícias sobre Tecnologia. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
