<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soul Tech</title>
    <link rel="stylesheet" href="../assets/styles/styles.css">
    <script src="../assets/scripts/menu.js" defer></script>
</head>
<body>
    <header>
        <img src="../assets/img/soultech_all.png" alt="Logotipo da SoulTech">
        
        <nav>
            <a href="../index.html">Home</a>
            <a href="publicacoes/noticias.html">Notícias</a>
            <a href="publicacoes/tutoriais.html">Tutoriais</a>
            <a href="publicacoes/artigos.html">Artigos</a>
            <a href="criar-publicacao.html" id="linkEscreva">Escreva</a>
            <a href="quem-somos.html">Quem Somos?</a>
        </nav>
    
        <a href="login.html" id="cadastroLoginLink">Cadastro / Login</a>
    </header>

    <main>
        <div class="quem-somos">
            <h1>Quem Somos</h1>
            <div class="desenvolvedores">
                <div>
                    <div class="img-container"> 
                        <img src="../assets/img/usuarios/ricardo.jpeg" alt="Foto de uma pessoa responsável pelo site"> 
                    </div> 
                     
                     <div class="text"> 
                        <p>
                           <span>Ricardo</span> - Full-Stack
                        </p> 
                        <p>
                            Graduando em Sistemas de Informação, atuo como programador há cerca de 3 anos, utilizando tecnologias como PHP, CodeIgniter, Laravel, Javascript. Gosto de esportes, jogos eletrônicos e gatos. 
                        </p>
                    </div> 
                    <div class="social-links"> 
                        <a href="https://www.linkedin.com/in/ricardo-ralds/" target="_blank">Linkedin</a> 
                        <a href="https://github.com/ricardo-rals" target="_blank">GitHub</a> 
                    </div> 
                </div>

                <div>
                    <div class="img-container"> 
                        <img src="../assets/img/usuarios/camila.jpeg" alt="Foto de uma pessoa responsável pelo site"> 
                    </div> 
                     
                     <div class="text"> 
                        <p>
                            <span>Camila</span> - Full-Stack
                        </p> 
                        <p>
                            É uma pernambuca apaixonada com formação em Administração, e agora, estudante de Análise e Desenvolvimento de Sistemas fascinada por tecnologia. Além disso, adora explorar novos destinos e se aventurar pelo mundo, afinal, quem não gosta de uma boa viagem, não é mesmo? E quando o assunto é comida, a paixão é evidente - ela não só adora cozinhar pratos deliciosos, como também aprecia cada garfada com um sorriso no rosto.                        </p>
                    </div> 
                    <div class="social-links"> 
                        <a href="https://www.linkedin.com/in/camilaalimalopes/" target="_blank">Linkedin</a> 
                        <a href="https://github.com/calimalopes" target="_blank">GitHub</a> 
                    </div> 
                </div>

                <div>
                    <div class="img-container"> 
                        <img src="../assets/img/usuarios/carol.jpeg" alt="Foto de uma pessoa responsável pelo site"> 
                    </div> 
                     
                     <div class="text"> 
                        <p>
                            <span>Carol</span> - Full-Stack
                        </p> 
                        <p>
                            Formada em análise e desenvolvimento de sistema. Atuo na área de Custumer Sucess. Gosto de filmes
                        </p>
                    </div> 
                    <div class="social-links"> 
                        <a href="https://www.linkedin.com/in/caroline-peixoto-x/" target="_blank">Linkedin</a> 
                        <a href="https://github.com/carolpeixoto1" target="_blank">GitHub</a> 
                    </div> 
                </div>

                <div>
                    <div class="img-container"> 
                        <img src="../assets/img/usuarios/kevin.jpeg" alt="Foto de uma pessoa responsável pelo site"> 
                    </div> 
                     
                     <div class="text"> 
                        <p>
                            <span>Kevin</span> - Full-Stack
                        </p> 
                        <p>
                            Enquanto o sábio aponta o céu, o idiota olha o dedo
                        </p>
                    </div> 
                    <div class="social-links"> 
                        <a href="https://www.linkedin.com/in/kevein-bezerra-hitzschky-395284219/" target="_blank">Linkedin</a> 
                        <a href="https://github.com/kvnhit" target="_blank">GitHub</a> 
                    </div> 
                </div>

                <div>
                    <div class="img-container"> 
                        <img src="../assets/img/usuarios/marciele.png" alt="Foto de uma pessoa responsável pelo site"> 
                    </div> 
                     
                     <div class="text"> 
                        <p>
                            <span>Marciele</span> - Full-Stack
                        </p> 
                        <p>
                            Analista de infraestrutura de tecnologia, forte conhecimento em sistemas operacionais, redes, servidores, armazenamento e segurança da informação. Experiência com projetos de infraestrutura, migração de sistemas e gerenciamento de mudanças. Apaixonada por pessoas e pescaria...
                        </p>
                    </div> 
                    <div class="social-links"> 
                        <a href="https://www.linkedin.com/in/marciele-faria-a6a24874/" target="_blank">Linkedin</a> 
                        <a href="https://github.com/MarciFaria" target="_blank">GitHub</a> 
                    </div> 
                </div>
            </div>
        </div>
    </main>

    <footer>
        <p>Talento Cloud- Grupo 5</p>
    </footer>
</body>
</html>
