<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soul Tech</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <img src="../assets/img/soultech_all.png" alt="Logotipo da SoulTech">
        
        <nav>
            <a href="home.html">Home</a>
            <a href="publicacoes/noticias.html">Notícias</a>
            <a href="publicacoes/tutoriais.html">Tutoriais</a>
            <a href="publicacoes/artigos.html">Artigos</a>
            <a href="criar-publicacao.html">Escreva</a>
            <a href="quem-somos.html">Quem Somos?</a>
        </nav>
    
        <a href="login.html">Cadastro / Login</a>
    </div>
    </header>

    <main>
        <div class="quem-somos">
            <h1>Quem Somos</h1>
            <div class="desenvolvedores">
                <div>
                    <div class="img-container"> 
                        <img src="../assets/img/usuarios/ricardo.jpeg" alt="Foto de uma pessoa responsável pelo site"> 
                    </div> 
                     
                     <div class="text"> 
                        <p>
                           <span>Ricardo</span> - Full-Stack
                        </p> 
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec luctus ipsum, a ornare odio. Morbi luctus nulla velit, dapibus rutrum lorem hendrerit vitae. Quisque vitae libero risus. Nulla eros massa ... 
                        </p>
                    </div> 
                    <div class="social-links"> 
                        <a href="https://www.linkedin.com/in/">Linkedin</a> 
                        <a href="https://github.com/">GitHub</a> 
                        <a href="https://www.contato.com.br/">Contato</a> 
                    </div> 
                </div>

                <div>
                    <div class="img-container"> 
                        <img src="../assets/img/usuarios/camila.jpeg" alt="Foto de uma pessoa responsável pelo site"> 
                    </div> 
                     
                     <div class="text"> 
                        <p>
                            <span>Camila</span> - Full-Stack
                        </p> 
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec luctus ipsum, a ornare odio. Morbi luctus nulla velit, dapibus rutrum lorem hendrerit vitae. Quisque vitae libero risus. Nulla eros massa ... 
                        </p>
                    </div> 
                    <div class="social-links"> 
                        <a href="https://www.linkedin.com/in/">Linkedin</a> 
                        <a href="https://github.com/">GitHub</a> 
                        <a href="https://www.contato.com.br/">Contato</a> 
                    </div> 
                </div>

                <div>
                    <div class="img-container"> 
                        <img src="../assets/img/usuarios/carol.jpeg" alt="Foto de uma pessoa responsável pelo site"> 
                    </div> 
                     
                     <div class="text"> 
                        <p>
                            <span>Carol</span> - Full-Stack
                        </p> 
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec luctus ipsum, a ornare odio. Morbi luctus nulla velit, dapibus rutrum lorem hendrerit vitae. Quisque vitae libero risus. Nulla eros massa ... 
                        </p>
                    </div> 
                    <div class="social-links"> 
                        <a href="https://www.linkedin.com/in/">Linkedin</a> 
                        <a href="https://github.com/">GitHub</a> 
                        <a href="https://www.contato.com.br/">Contato</a> 
                    </div> 
                </div>

                <div>
                    <div class="img-container"> 
                        <img src="../assets/img/usuarios/kevin.jpeg" alt="Foto de uma pessoa responsável pelo site"> 
                    </div> 
                     
                     <div class="text"> 
                        <p>
                            <span>Kevin</span> - Full-Stack
                        </p> 
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec luctus ipsum, a ornare odio. Morbi luctus nulla velit, dapibus rutrum lorem hendrerit vitae. Quisque vitae libero risus. Nulla eros massa ... 
                        </p>
                    </div> 
                    <div class="social-links"> 
                        <a href="https://www.linkedin.com/in/">Linkedin</a> 
                        <a href="https://github.com/">GitHub</a> 
                        <a href="https://www.contato.com.br/">Contato</a> 
                    </div> 
                </div>

                <div>
                    <div class="img-container"> 
                        <img src="../assets/img/usuarios/marciele.png" alt="Foto de uma pessoa responsável pelo site"> 
                    </div> 
                     
                     <div class="text"> 
                        <p>
                            <span>Marciele</span> - Full-Stack
                        </p> 
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec luctus ipsum, a ornare odio. Morbi luctus nulla velit, dapibus rutrum lorem hendrerit vitae. Quisque vitae libero risus. Nulla eros massa ... 
                        </p>
                    </div> 
                    <div class="social-links"> 
                        <a href="https://www.linkedin.com/in/">Linkedin</a> 
                        <a href="https://github.com/">GitHub</a> 
                        <a href="https://www.contato.com.br/">Contato</a> 
                    </div> 
                </div>
            </div>
        </div>
    </main>

    <footer>
        <p>Talento Cloud- Grupo 5</p>
    </footer>
</body>
</html>
