<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soul Tech</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <header>
            <img src="../../assets/img/soultech_all.png" alt="Logotipo da SoulTech">
            
            <nav>
                <a href="../home.html">Home</a>
                <a href="noticias.html">Notícias</a>
                <a href="tutoriais.html">Tutoriais</a>
                <a href="artigos.html">Artigos</a>
                <a href="../criar-publicacao.html">Escreva</a>
                <a href="../quem-somos.html">Quem Somos?</a>
            </nav>
        
            <a href="../login.html">Cadastro / Login</a>
        </div>
    </header>
    <main>
        <article>
            <h2>Traduzindo o Windows 7 para português</h2>
            <img src="../../assets/img/publicacao/windows-7.jpeg" alt="Logo do windows 7">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut viverra ut eros sit amet consequat. Etiam id vehicula nisi, at vehicula tortor. Nullam eu molestie dolor, nec porttitor erat. Proin dapibus enim fermentum tempus luctus. In at erat scelerisque, mattis urna a, tincidunt augue. Curabitur viverra purus enim, sit amet aliquet urna tincidunt ut. Etiam at lacinia lacus. Donec commodo, lectus et faucibus aliquam, mauris metus accumsan quam, ut commodo lorem dui laoreet risus. Maecenas rhoncus tellus quam, ultricies rhoncus nulla lobortis ut. Pellentesque tempus nunc mi, nec gravida tortor aliquam sit amet.

                Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec vulputate mi vel nunc pulvinar, a rhoncus elit finibus. Integer hendrerit feugiat blandit. Curabitur auctor, nisi ut finibus semper, enim dui ornare libero, eu dapibus turpis urna dapibus lectus. Morbi eu eros dui. Integer lorem ipsum, eleifend viverra porttitor ac, cursus non justo. Quisque velit nibh, accumsan a tellus eu, tempus ultricies lorem. Aenean non massa eu neque laoreet rutrum. Nullam vel augue et ex ultricies interdum. Quisque dolor lorem, volutpat non luctus a, venenatis et dui. Nulla in nulla quis tortor consectetur bibendum. Ut viverra libero ac est condimentum scelerisque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam eget nunc quam. Curabitur eget mollis tortor.
            </p>
            <footer>
                <img src="../../assets/img/usuarios/usuario.png" alt="Imagem do autor da publicação">
                <span>NOME DO AUTOR</span>
            </footer>
        </article>
    
        <aside>
            <div class="aside">
                <h2>Anúncio</h2>
                <p>Produto XYZ em promoção!</p>
                <p>Ganhe descontos incríveis em nossos produtos e serviços.</p>
                <button>Saiba mais</button>
            </div>
            <div class="aside">
                <h2>Anúncio</h2>
                <p>Produto XYZ em promoção!</p>
                <p>Ganhe descontos incríveis em nossos produtos e serviços.</p>
                <button>Saiba mais</button>
            </div>
            <div class="aside">
                <h2>Anúncio</h2>
                <p>Produto XYZ em promoção!</p>
                <p>Ganhe descontos incríveis em nossos produtos e serviços.</p>
                <button>Saiba mais</button>
            </div>
        </aside>
    </main>

    <footer>
        <p>Talento Cloud- Grupo 5</p>
    </footer>
</body>
</html>