<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoulTech</title>
</head>
<body>
    <header>
        <h1>LOGO</h1>
        <nav> 
            <ul>
                <li><a href="">home</a></li>
                <li><a href="">tutoriais</a></li>
                <li><a href="">artigos</a></li>
                <li><a href="">contato</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <article>
            <h2>Traduzindo o Windows 7 para português</h2>
            <img src="../../assets/img/windows-7.jpeg" alt="Logo do windows 7">
            <p>O processo de tradução do Windows 7 para português pode variar de acordo com a versão do sistema operacional.</p>
            <p>A maioria das edições do Windows 7 vendidas no mercado brasileiro já traz a língua portuguesa como padrão. Porém, ainda há uma grande quantidade de usuários que enfrentam vídeos E Menu últimas Buscar Sistemas techtudo Operacionais aplicativos celulares jogos esports em inglês.</p>
            <p>A seguir, você encontra as etapas para traduzir o Windows 7 para português:</p>
            <footer>
                <img src="../../assets/img/usuario.png" alt="Imagem do autor da publicação">
                <span>NOME DO AUTOR</span>
            </footer>
        </article>
    
        <aside>
            <div class="aside">
                <h2>Anúncio</h2>
                <p>Produto XYZ em promoção!</p>
                <p>Ganhe descontos incríveis em nossos produtos e serviços.</p>
                <button>Saiba mais</button>
            </div>
            <div class="aside">
                <h2>Anúncio</h2>
                <p>Produto XYZ em promoção!</p>
                <p>Ganhe descontos incríveis em nossos produtos e serviços.</p>
                <button>Saiba mais</button>
            </div>
            <div class="aside">
                <h2>Anúncio</h2>
                <p>Produto XYZ em promoção!</p>
                <p>Ganhe descontos incríveis em nossos produtos e serviços.</p>
                <button>Saiba mais</button>
            </div>
   
        </aside>
    </main>

    <footer>
        <h1>contato</h1>
        <p>email:soultech@gmail.com</p>
        <p>telefone: (42)9645-5522</p>
    </footer>
</body>
</html>