<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soul Tech</title>
    <link rel="stylesheet" href="../../assets/styles/styles.css">
    <script src="../../assets/scripts/publicacoes.js" defer></script>
    <script src="../../assets/scripts/menu.js" defer></script>
</head>
<body>
    <header>
            <img src="../../assets/img/soultech_all.png" alt="Logotipo da SoulTech">
            
            <nav>
                <a href="../../index.html">Home</a>
                <a href="noticias.html">Notícias</a>
                <a href="tutoriais.html">Tutoriais</a>
                <a href="artigos.html">Artigos</a>
                <a href="../criar-publicacao.html" id="linkEscreva">Escreva</a>
                <a href="../quem-somos.html">Quem Somos?</a>
            </nav>
        
            <a href="../login.html" id="cadastroLoginLink">Cadastro / Login</a>
        </div>
    </header>
    <main>
      <div class="conteudo">
          <section class="tutoriais">
           <div class="header-section">
            <h2>Tutoriais</h2>
           </div>
           <div class="body-section">
            
           </div>
          </section>
      </div>
    </main>

    <footer>
        <p>Talento Cloud- Grupo 5</p>
    </footer>

</body>
</html>